<div class="projects-container">

	<div class="page-heading">
    	<h3>
    		<div issue-type type="{{issue.type}}" color="false"></div></i> &nbsp; {{issue.title}}
    	</h3>
    	<span>
    		<p class="opened opened-heading">Opened by {{issue.openedBy}} on {{issue.openedDate}}</p>
    	</span>
    </div>
    <hr>

    <h4 class="page-subheadings">Description</h4>

    <div class="project-detail shadow">
        <p class="pad-sm-tb">{{issue.description}}</p>
    </div>

	<div ng-if="issue.reproductionSteps.length !== 0">
		<h4 class="page-subheadings">How to reproduce</h4>
    	<div class="project-detail shadow">
    		<ul class="repro-list">
    			<li ng-repeat="step in issue.reproductionSteps">
    				{{step}}
    			</li>
    		</ul>
    	</div>
    </div>

    <h4 class="page-subheadings">Discussion</h4>
	
    	<div class="project-detail shadow">
	    <ul class="discussion">
    		<li class="comment" ng-repeat="comment in issue.comments">
    			<div class="comment-header">
    				<p class="comment-heading">
    					<b>{{comment.author}}</b> said on <b>{{comment.date}}</b>
    				</p>
    			</div>
    			<div class="comment-content">
    				<div ng-if="comment.new === true">
    					<textarea placeholder="Enter your comment..."></textarea>
    					<div class="btn-group">
    						<button class="btn btn-green">
    							<i class="fa fa-check"></i> &nbsp; Add
    						</button>
    						<button class="btn" ng-click="cancel(comment)">
    							<i class="fa fa-close"></i> &nbsp; Cancel
    						</button>
    					</div>
    				</div>
    				<div ng-ig="comment.new === undefined">
    					{{comment.content}}
    				</div>
    			</div>
    		</li>
    	</ul>
    	 <button class="btn btn-blue shadow" ng-click="addComment()">
            <i class="fa fa-plus"></i> &nbsp; Add comment
        </button>
    </div>
</div>