<div class="projects-container">
    <h3 class="page-heading"><i class="fa fa-cubes"></i> &nbsp; Projects</h3>

    <div ng-repeat="project in projects" class="project units-row shadow" ng-click="goToProject(project)">
        <div class="units-row project-header">
            <div class="unit-100">
                <h5 class="project-heading">
                    {{project.title}}
                </h5>
            </div>
        </div>

        <div class="units-row">
            <div class="unit-30">
            </div>
            <div class="unit-70">
                <p>
                    {{project.description}}
                </p>
            </div>
        </div>

        <div class="units-row project-info">
            <div class="unit-25">
                Issues: {{project.issues}}
            </div>
            <div class="unit-25">
                Contributors: {{project.contributors}}
            </div>
            <div class="unit-25">
                Last activity: {{project.lastActivity}}
            </div>
            <div class="unit-25">
                Watchers: {{project.watchers}}
            </div>
        </div>

    </div>
    <div class="project-new">
        <button class="btn btn-blue" id="show-modal" data-tools="modal" data-width="700" data-title="Modal Header" data-content="<h1>hello</h1>">
                <i class="fa fa-plus"></i> &nbsp; Create New Project
        </button>
    </div>
</div>